@media only screen and (min-width: 300px) {

body {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ),
        url(media/800wm.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section div div p {
    text-align: center;
}

h1 {   
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: 0px 10px rgba(231, 97, 97, 0.281);
    animation: backInDown; 
    animation-duration: 2s;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: silver;
    text-shadow: 0px 10px rgba(223, 195, 195, 0.281);
}

.bkgPppal {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 25px 0px;
}

section {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: black;
    background-color: rgba(241, 148, 148, 0.3);
    margin: 15px 45px;
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    max-width: fit-content;
    color: white;
    font-weight: 300;
    display: inline;
}

.p1 {
    animation: fadeInLeft; 
    animation-duration: 4s;
}

.p2 {
    animation: fadeInLeft; 
    animation-duration: 4s;
}

.p3{
    animation: fadeInLeft; 
    animation-duration: 10s;
}

.p4{
    animation: fadeInLeft; 
    animation-duration: 10s;
}

.p5{
    animation: fadeInLeft; 
    animation-duration: 16s;
}

.p6{
    animation: fadeInLeft; 
    animation-duration: 16s;
}

.gif1 {
    background-image: url(media/1.gif);
    border-radius: 15px;
}

img {
    border-radius: 360px;
    max-width: fit-content;
}

}